.header {
    font-size: 5em;
    text-align: center;
    border-color: black;
    background-color: #c67ec6;
    border-style: double;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #c67ec6;
    height: 35px;
    width: 100%;
    color: black;
    text-align: center;
}

.footer > .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.footer > .navbar {min-height:32px !important}

.di-num {
    height: 100px;
    width: 100px;
    font-size: 5em;
    display: inline;
    line-height: 0;
}

.prompt {
    color: teal;
}

#num1 {
    background-color: red;
}

#num2 {
    background-color: green;
}

#num3 {
    background-color: blue;
}

#num4 {
    background-color: yellow;
}

#num5 {
    background-color: magenta;
}

#num6 {
    background-color: cyan;
}