<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show post</title>
    <!--    <links th:replace="partials/links :: links"></links>-->
</head>
<body>

    <form th:action="'/post/'+ ${post.id} + '/edit'" method="post">
        <input th:name="title" th:value="${post.title}">
        <input th:name="body" th:value="${post.body}">
        <button type="submit" >edit</button>
    </form>

<!--<scripts th:replace="partials/script_partials :: scripts"/>-->
</body>
</html>